.dis-low-price,.dis-high-price,.dis-high-sales,.dis-low-sales{
    height: 2.0rem;
    width: 8.0rem;
    text-align: center;
    line-height: 2.0rem;
    background-color: rgb(240, 240, 240) !important;
    border-radius: 0.25rem !important;
    font-size: 0.6rem;
}
.aui-list-item-inner{
	margin-bottom: 0;
}
#nmbConfirm{
	margin-left: 85%;
	background-color: #f23030;
	width: 2.1rem;
	height: 1.25rem;
	line-height:1.25rem;
	text-align: center;
	border-radius: 0.15rem;
	color: #fff;
}
.list-select-box{
	padding-right: 3.0rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}
.dis-sale {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}
.dis-share{
	width: 3rem;
	height: 1.2rem;
	line-height:1.2rem;
	text-align: center;
	background-color: #f23030;
	color: #fff;
	border-radius: 0.2rem;
}
#search-input {
	outline: none;
	position: absolute;
	top: 0;
	left: 1.3rem;
	background: #fff!important;
}
.dis-evaluate{
	color: #1b1b1b;
	font-size: 0.65rem;
	display: flex;
	display: -webkit-flex;
	/* justify-content: space-around; */
	align-items: center;
	width: 100%;
}
.dis-evaluate>span:nth-child(2){
	/* float: right;
	margin-right: 0.233rem; */
	color: #1b1b1b;


}
.dis-evaluate>span:nth-child(1){
	width: 46%;
	font-size: 0.65rem;
	color: #ff0000;
	font-weight: bold;
}

/*空出状态栏样式*/
.null-box{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #f23030;
}
header{
	position: fixed;
	top: 0;
	left: 0;
}
nav{
	margin-top: 3rem;
}








