html, body{
	width: 100%;
	height: 100%;
}
.my-index-box{
    background: #f0f0f0;
}
/* 分享 */
.my-share{
    width:100%;
    margin: 0.75rem 0;
    background-color: #fff;
    padding: 0.7rem 0;
}
.bifa-box{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0.5rem;
}
.bifa{
	font-size: 0.8rem;
	color: #323232;
}
.update{
	font-size: 0.6rem;
}
.my-share>ul{
	display: -webkit-flex;
	display: flex;
}
.my-share-li{
	height: 100%;
	width: 33.33%;
	text-align: center;
}
.my-share-li>span{
	font-weight: bold;
	font-size: 0.8rem;
	color: #333333;
}
.my-share-li>p{
	font-size: 0.6rem;
	color: #666666;
}

.my-share-li-img{
	width: 3.2rem;
	height: 3.2rem;
	margin: 0 auto;
	margin-bottom: 0.35rem;
}
.my-share-li-img>img{
	width: 100%;
	height: 100%;
}
/* 公告 */
.my-notice{
	width: 100%;
	height: 9.95rem;
	background-color: #fff;
}
.my-notice>ul{
	background-color: #fff;
}
.my-notice>.my-notice-text1{
	padding: 0.7rem 0;
	text-align: center;
	font-size: 0.8rem;
}
.my-notice-text1>b{
	color: #333;
	font-size: 0.8rem;
}
.my-notice-text1>b>img{
	padding-right: 0.35rem;
}
.my-notice-li{
	padding:0 0.5rem; 
	height: 2.0rem;
	line-height: 2.0rem;
	border-bottom: 1px solid #f0f0f0;
	font-size: 0.65rem;
}
.scroll-list{
	overflow: hidden;
	width: 100%;
	height: 8.0rem;
}
.gonggao-img{
	width: 23px;
	height: 14px;

}
.gonggao-box{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}










