#aui-slide3{
	margin-bottom: 0.5rem;
}
.aui-searchbar .aui-searchbar-btn{
	margin-right: 0;
}
.dis-price,.get-money{
	display: flex;
	display: -webkit-flex;
	font-size: 0.6rem;
	color: #5f5f5f;
	width: 100%;
	margin: 0.1rem 0;
	align-items: center;
}
.dis-price>span:nth-child(1){
	color: #5f5f5f;
    font-size: 0.6rem;
    margin: 0.25rem 0;
    width: 50%;
}
.dis-price>span:nth-child(2) {
    color: #5f5f5f;
    font-size: 0.6rem;
    margin: 0.25rem 0;
    text-decoration: none;
}
.zhuan{
	color: #f23030;
    font-size: 0.6rem;
    margin: 0.25rem 0;
    width: 50%;
}
.yongjinlv{
	font-size: 0.6rem;
	color: #5f5f5f;
	margin: 0.25rem 0;

}
#search-input {
	outline: none;
	position: absolute;
	top: 0;
	left: 1.3rem;
	background: #fff!important;
}

.home-three-sales {
	color: #666;
	font-size: 0.8rem;
}
.home-three-top {
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
	color: #d81e06;
	width: 2.0rem;
	font-size: 0.6rem;
	height: 1.0rem;
	line-height: 0.9rem;
	font-weight: bold;
}
.top-img {
	width: 0.65rem;
	height: 0.75rem;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.home-three-box{
	position: relative;
}






